

#header{
	color: #F07A4E;
	text-align: center;
}
#select{
	width: 140px;
	height: 40px;
}
#mon2{
	width: 140px;
	height: 35px;	
}
#tue2{
	width: 140px;
	height: 35px;
}
#wed2{
	width: 140px;
	height: 35px;	
}
#thu2{
	width: 140px;
	height: 35px;
}
#fri2{
	width: 140px;
	height: 35px;	
}